header {
    grid-area: header;
    background-color: #24292E;
    display: flex;
    justify-content: space-between;
    padding: 16px 12px;
    padding-right: 8px;
    height: 30px;
    .general-menu {
        width: 930px;
        display: flex;
        align-items: center;   
        .logo {
            margin-right: 12px;
            a {
                img {
                    width: 40px;
                }
            }
        }
        .input-search {
            width: 300px;
            margin-right: 16px;
            transition: .2s ease-in-out;
            form {
                position: relative;
                input {
                    width: 95%;
                    border: none;
                    background-color: #3F4448;
                    padding: 8px;
                    border-radius: 5px;
                    &:focus {
                        background-color: #FFF;
                        border: none;
                        outline: 0;
                    }
                    &::placeholder {
                        color: gray;
                        font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
                        font-size: 14px;
                    }
                }
                img {
                    position: absolute;
                    right: 7px;
                    top: 5px;
                }
                label {}
            }
            &:focus-within {
                width: 650px;
                form img {
                    display: none;
                }
            }
        }

        nav {
            width: 400px;
            margin-top: 3px;
            a {
                text-decoration: none;
                color: white;
                font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
                font-weight: 600;
                font-size: 14px;
                margin-right: 12px;
                &:hover {
                    color: hsla(0,0%,100%,.7);
                }
            }
        }


    }

    .user-menu {
        width: 90px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .menu-wrapper {
            cursor: pointer;
            display: flex;
            align-items: center;
            color: white;
            margin-top: 5px;
            .sinal-mais {
                font-size: 25px;
                margin-bottom: 6px;
                &:hover {
                    color: hsla(0,0%,100%,.7);   
                }
            }
            .dropdown-caret {
                margin-right: 10px;
                &:hover {
                    color: hsla(0,0%,100%,.7);
                }
            }
            img {
                width: 20px;
                margin-right: 5px;
            }
        }
    }
}


.dropdown-caret {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    content: "";
    border-top-style: solid;
    border-top-width: 4px;
    border-right: 4px solid transparent;
    border-bottom: 0 solid transparent;
    border-left: 4px solid transparent;
}
